*.pt
*.zip
*.7z
*.rar
*.ckpt
*.onnx
*.tar

.venv/
venv/
env/
ENV/
node_modules/
site-packages/

wandb
data/backup
data/dataset
data/fonts
data/font_statics*
data/examples/annotations/*
__pycache__
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.DS_Store
.vscode
